
<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
    
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
          <li><a href="#">Link</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <button class="btn btn-primary" type="button" (click)="onAdd()">Add</button>
  <div class="row">
    <div class="col-md-12"><h1>Landing Center</h1></div>
  </div>
</div>
<div class="container">
  <div class="row">
    <!-- TODO: put the neo4j node/relationship search box here-->

    <!--TODO: display the results of the search here-->

    
    <div class="col-md-8 red-border"><h2>landing left</h2></div>
    <div class="col-md-4 blue-border"><h2>landing right</h2></div>
  </div>
</div>

